@font-face {
    font-family: 'WorkSans-Black';
    src: url('dist/fonts/WorkSans-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Bold';
    src: url('dist/fonts/WorkSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-ExtraBold';
    src: url('dist/fonts/WorkSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-ExtraLight';
    src: url('dist/fonts/WorkSans-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Light';
    src: url('dist/fonts/WorkSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Medium';
    src: url('dist/fonts/WorkSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('dist/fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('dist/fonts/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WorkSans-Thin';
    src: url('dist/fonts/WorkSans-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.worksans-black {
    font-family: 'WorkSans-Black', sans-serif;
}
.worksans-bold {
    font-family: 'WorkSans-Bold', sans-serif;
}
.WorkSans-extrabold {
    font-family: 'WorkSans-ExtraBold', sans-serif;
}
.worksans-extralight {
    font-family: 'WorkSans-ExtraLight', sans-serif;
}
.worksans-light {
    font-family: 'WorkSans-Light', sans-serif;
}
.worksans-medium {
    font-family: 'WorkSans-Medium', sans-serif;
}
.worksans-regular {
    font-family: 'WorkSans-Regular', sans-serif;
}
.worksans-semibold {
    font-family: 'WorkSans-SemiBold', sans-serif;
}
.worksans-thin {
    font-family: 'WorkSans-Thin', sans-serif;
}